.bx-authform-formgroup-container .botton {
    width: 95.5px!important;
}

.bx-authform-link-container {
    margin-bottom: 0;
}

.bx-authform-content-container, .bx-authform-label-container {
    margin-bottom: 1%;
}
